body {
  /* background-image: linear-gradient(to right, rgb(195, 217, 238), rgb(0, 143, 187)); */
  background-image: url('https://i.pinimg.com/originals/e9/d4/83/e9d4833ac78d9c68b7264e8bca9108c6.jpg');
  background-size: cover;
  position: fixed;
  width: 100%;

}

.center-content {
  margin-top: 200px;
  text-align: -webkit-center;
  position: fixed;
  width: 100%;
}

mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  /* background-color: #50d1f1; */
  background-image: url('https://i.pinimg.com/736x/bf/d6/9a/bfd69ab729bdc7b81b4fcc29249f5b21.jpg');
  border-radius: 10px;


}

.header {
  text-align: center;

}

.full-width {
  width: 80%;

}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password {
  padding-left: 0px;
}

.emailInput {
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background: #d4b5ff;
  display: block;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

p {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

p,
a,
.eye {
  color: rgb(14, 76, 248);
}

.btn {
  border-radius: 20px;
  width: 120px;
  color: rgb(0, 67, 250);
  background-color: bisque;
  text-transform: uppercase;
  font-weight: 600;
}
