<body>
    <div class="center-content">
        <mat-card>
            <mat-card-content>
                <div class="header">
                    <P> Đổi mật khẩu </P>
                </div>
                <form (ngSubmit)="onChangePass()" name="loginForm" [formGroup]="formChange">
                    <div class="">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <!-- <input type="text" class="form-control" matInput placeholder="Enter username"  [(ngModel)]="user.username" name="username" #username="ngModel" required /> -->
                            <input class="ipt" formControlName="username" matInput placeholder="Enter username"
                                name="name" ngModel={{user.username}} required />
                            <mat-error ng-show="!formChange.mail.$error.required&&userForm.mail.$error.pattern">
                                Nhập Mật Khẩu Cũ!
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mật khẩu cũ</mat-label>
                            <input class="ipt" formControlName="oldPassword" matInput required />
                            <mat-error *ngIf="!formChange.controls['oldPassword'].valid">
                                Nhập Mật Khẩu Cũ!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mật khẩu mới</mat-label>
                            <input class="ipt" formControlName="newPassword" matInput placeholder="Enter Mật khẩu mới"
                                required />
                            <mat-error *ngIf="!formChange.controls['newPassword'].valid">
                                Nhập Mật Khẩu Mới!
                            </mat-error>
                        </mat-form-field>

                    </div>


                    <button class="btn" type="submit" mat-raised-button color=""
                        [disabled]="!formChange.valid">Reset</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>
<!-- 0788QEnp -->