<body>
    <div class="center-content">
        <mat-card>
            <mat-card-content>
                <div class="header">
                    <P>Forget Password</P>
                </div>
                <form (ngSubmit)="onForget()" [formGroup]=" formForget" >
                    <div class="emailInput">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Enter email address" required />
                            <mat-error *ngIf="!formForget.controls['email'].valid">
                                Nhập thông tin email!
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>

                        <span>
                            <a class="text-link" class="aLink" routerLink="login">Back to Login?</a>
                        </span>
<br>
                    </div>
                    <button type="submit" class="btn" mat-raised-button color="">Reset</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    </body>
