<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="https://github.com/hitencodes/admin-panel/blob/master/src/assets/user.jpg?raw=true"
                            alt="" class="user-image mr-1 p-2">{{user?.username}}
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="onLogout()" mat-menu-item >                           
                            <div> <mat-icon>exit_to_app</mat-icon>Đăng xuất</div>
                        </button>

                        <button routerLink="chang-password" mat-menu-item >                           
                            <div ><mat-icon>update</mat-icon> Đổi mật khẩu</div>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>